@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.navbar {
    width: 100vw;
    height: 80px;
    background: black;
    overflow-x: hidden;
}
.list {
    font-family: Truculenta;
    color: white;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    list-style-type: none;
    padding: 10px;
    transform: translateX(40%);
    margin-top: 10px;
}
